
body{
  background-color:black;
}

img{
  text-align:center;
}

ui{
  color:cyan;
  font-size:20px;
}

header{
  color:cyan;
  text-align:center;
  font-size:30px;
}

p{
  color:lime;
  font-size:30;
}
h1{
  color:lime;
  text-align:center;
  font-size:30px;
}

img{
  hight:20px;
  width:20px;
  text-align:top-right;
}
